/*FUENTES*/

@import "../../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.contenedorGaleria{
  margin-left: 1px;
  margin-right: 1px;
  
    .galeriaProductos{
        padding: 5px;
        overflow: hidden;
        max-width: 400;
    }
}