/*FUENTES*/

@import "./../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "./../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.galeriaProductos__Card{

    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    border-radius: 3px;
  
  
    .galeriaProductos__Img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.galeriaProductos__Card:hover{
    transform: translateY(-3px) scale(1.0);  
}

.galeriaProductos__Detalles{
    font-family: $Syne;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;

    .galeriaProductos__Nombre{
        color: $Bebote;
        font-weight: 900;
        font-size: 2.5vw;
    }

    .galeriaProductos__Precio{
        color: $darkBebote;
        font-weight: 700;
        font-size: 2vw;
    }

    .galeriaProductos__Stock{
        color: $dimBebote;
        font-weight: 700;
        font-size: 1.5vw;
    }
}
