/*FUENTES*/

@import "../../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.galeriaProductos__Detalles{
    font-family: $Syne;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;

    .galeriaProductos__Img{
      max-width: 30vw;
      margin: 1vw;
    }

    .galeriaProductos__Nombre{
        color: $Bebote;
        font-weight: 900;
        font-size: 4vw;
        text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }

    .galeriaProductos__Precio{
        color: $darkBebote;
        font-weight: 700;
        font-size: 2.5vw;
    }

    .galeriaProductos__Stock{
        color: $dimBebote;
        font-weight: 700;
        font-size: 2vw;
    }
}


.botonProducto{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  .botonProducto__Trigger{
    border: none;
    color: $whiteBebote;
    background-color: $Bebote;
    padding: 0.5vw;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  }
}