/*FUENTES*/

@import "../../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.galeriaProductos__Detalles{
    font-family: $Syne;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;

    .galeriaProductos__Nombre{
        color: $Bebote;
        font-weight: 900;
        font-size: 2.5vw;
    }

    .galeriaProductos__Precio{
        color: $darkBebote;
        font-weight: 700;
        font-size: 2vw;
    }

    .galeriaProductos__Stock{
        color: $dimBebote;
        font-weight: 700;
        font-size: 1.5vw;
    }
}