/*FUENTES*/

@import "../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);


















.cart{

  .cartWidget{
    color: $dimBebote;
    font-size: 2em;
  }
  
  .cartWidget:hover{
    color: $Bebote;
  }

  .cartCount{
    display: inline-block;
    background: $Bebote;
    padding: 2px;
    position: relative;
    bottom: 1.5vw;
    right: 0.8vw;
    height:25px;
    width:25px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;

    .cartCount__Count{
      display: inline-block;
      color: $whiteBebote;
      position: relative;
      bottom: 3px;
      left: 2px;
    }
  }
}


