/*FUENTES*/

@import "../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);


















.cart{

  .cartWidget{
    color: $dimBebote;
    font-size: 2em;
  }
  
  .cartWidget:hover{
    color: $Bebote;
  }

  .cartCount{
    display: inline;
    border-radius: 50%;
    background: $Bebote;
    padding: 2px;
    position: relative;
    bottom: 1.5vw;
    right: 0.5vw;

    .cartCount__Count{
      display: inline;
      color: $whiteBebote;
    }
  }
}


