/*FUENTES*/

@import "../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.header{
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  
    .header__Logo{
      img{
        max-width: 5em;
        max-height: 5em;
      }
    }
  
    .header__Iconos{
      
      a{
        display: inline-block;
        line-height: 1px;
        border-left: 1px solid #e9e9e9;
        padding: 1em;
        position: relative;
        top: 1em;
        
  
        img{
          max-height: 2em;
          max-width: 2em;
        }
  
        h5{
          display: inline-block;
          position: relative;
          top: 5px;
          font-size: 1rem;
          color: black;
        }
      }
  
      a:first-child{
        border-left: 0;
      }
    }
  }
  
  /*MODIFICADORES DE LOS TEXTOS ICONOS HEADER*/
  
  /*FUENTES DE TEXTOS ICONOS HEADER*/
  @each $fuenteIconosHeader, $valorFuenteIconosHeader in $mapaFuentes {
    .header__Iconos--#{$fuenteIconosHeader} {
      font-family: $valorFuenteIconosHeader;
    }
  }