/*FUENTES*/

@import "../../../../assets/scss/fuentes";

$mapaFuentes: (
  Syne: $Syne,
  Kumbh: $Kumbh
);



/*COLORES*/

@import "../../../../assets/scss/colores";

$mapaColores: (
  Bebote: $Bebote,
  dimBebote: $dimBebote,
  darkBebote: $darkBebote,
  whiteBebote: $whiteBebote
);



















.modProducto{
    display: flex;
    justify-content: center;
    align-items: center;

    .contadorProducto{
        min-width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
    
        .contadorProducto__Menos{
            cursor: pointer;
            color: $Bebote;
            font-size: 2.5vw;
    
        }
    
        .contadorProducto__Mas{
            cursor: pointer;
            color: $Bebote;
            font-size: 2.5vw;
    
        }
    
        .contadorProducto__Contador{
            cursor: context-menu;
            font-family: $Bebote;
            font-weight: 600;
            font-size: 2.5vw;
    
        }
    }

    
}
